button { 
    background: rgb(38, 38, 38);
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 8px 17px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: -4px;
    margin-right: -4px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.1s;
}

button::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(34, 214, 187) 12%, rgba(117, 102, 251, 1) 100.2%);
    filter: blur(10px);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

button:hover {
    background-color: rgb(0, 0, 189);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(34, 214, 187) 12%, rgba(117, 102, 251, 1) 100.2%);
    transition: none;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}

body {
    background-color: rgb(38, 38, 38);
    color: white;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

* {
    line-height: 1.5;
    
}

.recipe-card {
    width: auto;
    text-align: center;
}

.recipe-content {
    text-align: center;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.recipe-card.feature {
    border: 2px solid rgb(34, 214, 187);
    border-radius: 1rem;
    justify-content: center;
    padding: auto;
    text-align: center;
    margin: auto;
}

ol,
ul {
    text-align: center;  
}

li {
    text-align: left;
}

img {
    border-radius: 1rem;
}
 




    




