h1 {
    color: rgb(255, 255, 255);
    font-size: 700%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(38, 38, 38);
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

button { 
    background: rgb(38, 38, 38);
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 8px 17px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.1s;
}

button::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(34, 214, 187) 12%, rgba(117, 102, 251, 1) 100.2%);
    filter: blur(10px);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

button:hover {
    background-color: rgb(0, 0, 189);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(34, 214, 187) 12%, rgba(117, 102, 251, 1) 100.2%);
    transition: none;
}




